#page-landing {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(329.54deg, #37c77f 0%, #aadaa9 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-landing .content-wrapper {
  position: relative;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  max-height: 680px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  background: url("../../images/background.png") no-repeat 90% center;
  background-size: 70%;
}
#page-landing .content-wrapper img {
  width: 250px;
  margin-top: 20px;
}
#page-landing .content-wrapper main {
  max-width: 350px;
  height: 60%;
}
#page-landing .content-wrapper main h1 {
  font-size: 76px;
  font-weight: 900;
  line-height: 70px;
}
#page-landing .content-wrapper main p {
  margin-top: 20px;
  font-size: 24px;
  line-height: 34px;
}
.content-wrapper .location {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
  line-height: 34px;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 30px;
}
.content-wrapper .location strong {
  font-weight: 800;
}
.content-wrapper .enter-app {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80px;
  height: 80px;
  margin-bottom: 30px;
  background-color: #ffd666;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}
.content-wrapper .enter-app:hover {
  background: #fbba15;
}
