#page-map {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}

#page-map aside {
  width: 440px;
  background: linear-gradient(329.54deg, #37c77f 0%, #aadaa9 100%);
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#page-map aside header img {
  width: 70px;
}
#page-map aside h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 64px;
}
#page-map aside p {
  line-height: 28px;
  margin-top: 24px;
}
#page-map aside footer {
  display: flex;
  flex-direction: column;
  line-height: 24px;
}
#page-map aside footer strong {
  font-weight: 800;
}
#page-map .leaflet-container {
  z-index: 5;
}
#page-map .create-shelter {
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 10;
  width: 64px;
  height: 64px;
  background-color: #37c77f;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}
#page-map .create-shelter:hover {
  background-color: #22794d;
}
#page-map .map-popup .leaflet-popup-content-wrapper {
  background: rgba(225, 225, 225, 0.966);
  border-radius: 20px;
}
#page-map .map-popup .leaflet-popup-content {
  color: #26a867;
  font-size: 16px;
  font-weight: bold;
  margin: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#page-map .map-popup .leaflet-popup-content a {
  width: 40px;
  height: 40px;
  background-color: #26a867;
  box-shadow: 17.2868px 27.6589px 41.4554 rgba(23, 142, 166, 0.16);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-map .map-popup .leaflet-popup-tip-container {
  display: none;
}
