* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #ffffff;
  background-color: #ebf2f5;
  overflow-x: hidden;
  overflow-y: hidden;
}
body,
input,
button,
textarea {
  font: 600 18px Nunito, sans-serif;
}
